version: 2.1

orbs:
  core: studion/core@3.1.0
  security: studion/security@2.0.0
  aws-cli: circleci/aws-cli@5.2.0
  node: circleci/node@7.1.0

change-filters: &change-filters
  branches:
    ignore: master

trunk-filters: &trunk-filters
  branches:
    only: master

commands:
  setup-pulumi:
    steps:
      - run:
          name: Install Pulumi
          command: |
            curl -sSL https://get.pulumi.com/ | bash -s
            echo 'export PATH=${HOME}/.pulumi/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Login into Pulumi Cloud
          command: pulumi login
      - run:
          name: Set default Pulumi Organization
          command: pulumi org set-default extensionengine

jobs:
  detect-leaks:
    executor: security/node
    steps:
      - checkout
      - security/detect_secrets
      - security/scan_dockerfile
  audit-dependencies:
    executor: core/node
    parameters:
      pkg_json_dir:
        type: string
        default: '.'
    steps:
      - checkout
      - security/scan_dependencies:
          pkg_json_dir: <<parameters.pkg_json_dir>>
  test-build:
    executor: core/node
    steps:
      - checkout
      - core/run_script:
          script: 'test:build'
  test-components:
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - aws-cli/setup:
          role_arn: ${AWS_ROLE_ARN}
          session_duration: '7200'
      - setup-pulumi
      - node/install
      - core/run_script:
          script: 'test'
          no_output_timeout: 30m

workflows:
  scan-and-test:
    jobs:
      - detect-leaks:
          filters: *change-filters
      - audit-dependencies:
          filters: *trunk-filters
      - security/detect_secrets_dir:
          name: detect-secrets
          filters: *trunk-filters
      - test-build:
          filters: *change-filters
      - test-components:
          filters: *trunk-filters
